[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
scipy = "*"
nbformat = "==4.2.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
